<template lang="pug">
	div
		div.header-mod
			p Adicionales
			//- b-button.btn_aditional(v-if="state === 'OCUPADO'" class="m-1") Ver
			b-button.btn_aditional(v-if="state !== 'OCUPADO'" v-b-modal.modal-request class="m-1") Agregar
				b-modal(id="modal-request" title="Warning" header-class="headerModal" header-close-variant="light" hide-footer)
					p ¿Desea guardar cambios?
					b-button(class="mt-3" block @click="saveDataForm") Aceptar
				//- b-collapse(id="collapse-2")
		b-card(v-if="clicked === true || state==='OCUPADO'")
			b-form-checkbox-group(v-model="selected" class="d-flex flex-column")
				b-form-checkbox(value="hospedante" v-b-modal.modal-1) Hospedante
				b-form-checkbox(value="servicios" @change="sendTable(tabla)" v-b-modal.modal-2) Servicios
				b-modal(id="modal-1" title="Hospedante(s)" header-class="headerModal" header-close-variant="light" hide-footer)
					FirstForm(@saveData="updateHost" @saveId="updateId" :user="client" :id="idCliente" :registro="idReg" :qty="numRooms" :room_id="rooms")
				b-modal(id="modal-2" title="Servicios" header-class="headerModal" okTitle="Guardar" hide-footer)
					Servicios(@save="updateCart" @saveTotal="updateTotal" :tableProp="tabla" :qty="numRooms" :room_id="rooms")

				//-b-card-group(deck)
				//-b-card(header="Adicional")
				//- template(v-slot:header)
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import FirstForm from './first-form'
import Servicios from './modal-servicio'

export default {
	props: ['request', 'idReg', 'dataFin','numRooms', 'rooms'],
	components: {
		FirstForm,
		Servicios
	},
	data() {
		return {
			state: '',
			total: '',
			clicked: true,
			selected: '',
			t: '',
			tabla: [],
			idCliente: '',
			client: {
				tipo_documento: '0',
				numero_documento: '',
				nombre: '',
				apellido: '',
				edad: '',
				genero: '',
				correo: '',
				celular: '',
				residencia: 0,
				motivo_viaje: 0,
				nacionalidad: 0
			}
		}
	},
	computed: {
		...mapGetters('registro', ['getRegister', 'getResponseReg'])
	},
	created(){
		this.state = this.$router.history.current.query.state
	},
	methods: {
		...mapActions('registro', ['SET_REGISTER']),
		async saveDataForm() {
			if (this.getRegister.hasOwnProperty('id')) {
				this.clicked = true
				this.$bvModal.hide('modal-request')
			} else {
				const result = await this.$axios({
					method: 'post',
					url: 'https://apirenti.com/v1/api/hotels/1/records',
					headers: {
						accept: 'application/json',
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(this.dataFin)
				})
				// console.log(result, 'result of aditional')
				this.SET_REGISTER(result.data)
				this.clicked = true
				this.$bvModal.hide('modal-request')
			}
			this.$bvModal.hide('modal-request')
			this.clicked = true

		},
		openModal() {
			const modal = document.getElementById('modal-1')
			if (selected === 'hospedante') {
				modal.innerHTML = '<FirstForm />'
			}
		},
		sendIdClient(id) {
			this.$emit('sendIdClient', id)
		},
		sendIdTotal(id) {
			this.$emit('sendTotalF', id)
		},
		sendTable(tab) {
			if (tab.length === 0) {
				this.$emit('sendTable', tab)
			} else {
				const newTab = []
				tab.forEach(el => {
					const a = {
						adicional: el.id,
						cantidad: el.cantidad,
						tipo_adicional: 'PRODUCTO',
						precio_total: el.cantidad * el.precio_unitario
					}
					newTab.push(a)
				})
				this.$emit('sendTable', newTab)
			}
		},
		updateTotal(e) {
			this.total = e
		},
		updateCart(e) {
			this.tabla = e
		},
		// emptyCart() {
		// 	this.tabla = []
		// 	// this.total = 0
		// },
		updateHost(e) {
			this.client = e
		},
		updateId(e) {
			this.idCliente = e
		}
	}
}
</script>

<style lang="stylus" scoped>
.card-header
	font-size 12px
	font-weight bold
.card-body
	padding 0.8rem
.custom-control-label
	font-size 12px
.btn-primary
	color white
	background-color #7B2DEB
	border-color #7B2DEB
.btn-secondary
	color white
	background-color #A8A8AB
	border-color #A8A8AB
.btn_modal
	width 30%
	background-color #7b2deb
	border-color #7b2deb
.headerModal
	background-color #7B2DED
	color white !important
	opacity 1
.modal-body
	padding 1.5rem

.header-mod
	display flex
	justify-content space-between
	border 1px solid #dfdfdf
	border-radius 3px
	align-items baseline
	padding 0% 2%
	font-size 14px
	background-color #7b2ded30
.btn_aditional
	font-size 12px
	background-color #313131
	color white
// .close
</style>
