<template lang="pug">
div
	tab-content(title="Cliente"	icon="fa fa-user-plus" :before-change="beforeTabSwitch")
		b-card
			b-form(id="form-one")
				b-modal(id="bv-modal-example" centered hide-footer hide-header)
					div.modal_style
						p El usuario no se encuentra registrado.
						p Completa los campos solicitados.
						b-button.btn_modal(class="mt-3" block @click="$bvModal.hide('bv-modal-example')") Aceptar
				div.searchDoc
					div.margin-r5(class="d-flex flex-column")
						label.font-label(class="mr-sm-2") Tipo de documento
						b-form-select.selectTipo(class="mb-2 mr-sm-2 mb-sm-0" v-model="$v.formData.tipo_documento.$model" :state="validateState('tipo_documento')")
							b-form-select-option(value="" disabled) Tipo de documento
							b-form-select-option(v-for="doc in tipo_doc" :value="doc.nombre") {{ doc.nombre }}
						b-form-invalid-feedback Campo requerido
					div.baseline(class="d-flex")
						div
							b-form-input.width-input(@keypress.native="checkKey" class="mr-4" v-model="$v.formData.numero_documento.$model" :state="validateState('numero_documento')" placeholder="Número de documento")
							b-form-invalid-feedback
								p(v-if="formData.tipo_documento === 'RUC'") RUC requerido con 11 dígitos.
								p(v-if="formData.tipo_documento === 'DNI'") DNI requerido con 8 dígitos.
								p(v-if="formData.tipo_documento === 'PASAPORTE'") PASAPORTE requerido con 12 dígitos.
						b-button.button-search(@click="searchCustomer(formData.tipo_documento,formData.numero_documento)") Buscar
				div.h3-icon(class="d-flex")
					i(class="fa fa-user")
					h3 Informacion del cliente
				hr
				div.infoClient.justify-cont(class="d-flex")
					div.w30
						label.font-label(class="") Nombre
						b-form-input(v-model="$v.formData.nombre.$model" :state="validateState('nombre')" placeholder="Nombres")
						b-form-invalid-feedback Campo requerido
					div.w30
						label.font-label(class="") Apellido
						b-form-input(v-model="$v.formData.apellido.$model" :state="validateState('apellido')" placeholder="Apellidos")
						b-form-invalid-feedback Campo requerido
					div
						label.font-label(class="") Edad
						b-form-input(type="number" v-model="$v.formData.edad.$model" :state="validateState('edad')" placeholder="Edad")
						b-form-invalid-feedback Campo requerido
				div.justify-cont(class="d-flex")
					label.font-label(class="") Género
					div.divGenre(class="d-flex")
						b-form-radio(v-for="genre in genero" :value="genre.id" v-model="$v.formData.genero.$model" :state="validateState('genero')") {{genre.nombre}}
						//- b-form-radio(v-model="$v.formData.genero.$model" :state="validateState('genero')" name="some-radios" value="Mas") Masculino
					b-form-invalid-feedback Campo requerido
				div.h3-icon(class="d-flex")
					i(class="fa fa-phone")
					h3 Contacto
				hr
				div.infoClient.margin6(class="d-flex")
					div.margin-r5.inputEmail
						label.font-label(class="") Correo
						b-form-input.correo(v-model="$v.formData.correo_electronico.$model" :state="validateState('correo_electronico')" placeholder="Correo electrónico")
						b-form-invalid-feedback Campo requerido
					div
						label.font-label(class="") Número de celular
						b-form-input(v-model="$v.formData.celular.$model" :state="validateState('celular')" placeholder="Número de celular")
						b-form-invalid-feedback Campo requerido
				div.h3-icon(class="d-flex")
					i(class="fa fa-plus-circle")
					h3 Información adicional
				hr
				div.infoClient.justify-cont(class="d-flex")
					div
						label.font-label(class="mr-sm-2") Residencia
						b-form-select.selectTipo(class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.residencia")
							b-form-select-option(value="0" disabled) Residencia
							b-form-select-option(v-for="dep in residencia" :value="dep.id" :key="dep.id") {{dep.nombre}}
					div
						label.font-label(class="mr-sm-2") Motivo de viaje
						b-form-select.selectTipo(class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.motivo_viaje")
							b-form-select-option(value="0" disabled) Motivo de viaje
							b-form-select-option(v-for="viaje in motivo" :value="viaje.id" :key="viaje.id") {{viaje.nombre}}
					div
						label.font-label(class="mr-sm-2") Nacionalidad
						b-form-select.selectTipo(class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.nacionalidad")
							b-form-select-option(value="0" disabled) Nacionalidad
							b-form-select-option(v-for="country in pais" :value="country.id" :key="country.id") {{country.nombre}}
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { validationMixin } from 'vuelidate'
import {
	required,
	numeric,
	email,
	maxLength,
	minLength
} from 'vuelidate/lib/validators'

export default {
	middleware: 'auth',
	mixins: [validationMixin],
	data() {
		return {
			idpais: '',
			hotelId: '',
			motivo: [],
			residencia: [],
			pais: [],
			genero: [],
			tipo_doc: [],
			cliente: '',
			tiempo: [],
			tiempoEscogido: {},
			idRegistro: '',
			formData: {
				id: null,
				tipo_documento: '',
				numero_documento: '',
				nombre: '',
				apellido: '',
				edad: '',
				genero: '',
				correo_electronico: '',
				celular: '',
				residencia: 0,
				motivo_viaje: 0,
				nacionalidad: 0
			}
		}
	},
	validations() {
		return {
			formData: {
				celular: { required, numeric },
				tipo_documento: { required },
				numero_documento: {
					required,
					numeric,
					max:
						this.formData.tipo_documento === 'RUC'
							? maxLength(11)
							: false || this.formData.tipo_documento === 'DNI'
							? maxLength(8)
							: false || this.formData.tipo_documento === 'PASAPORTE'
							? maxLength(12)
							: false,
					min:
						this.formData.tipo_documento === 'RUC'
							? minLength(11)
							: false || this.formData.tipo_documento === 'DNI'
							? minLength(8)
							: false || this.formData.tipo_documento === 'PASAPORTE'
							? maxLength(12)
							: false
				},
				nombre: { required },
				apellido: { required },
				edad: { required, numeric },
				genero: { required },
				correo_electronico: { required, email }
			}
		}
	},
	async created() {
		this.idpais = await this.getIdPeru()
		// Get params of url
		const route = this.$router.history.current.query
		this.hotelId = route.hotel

		// Get parameters to select
		this.tipo_doc = await this.getParameters('TIPO_DOCUMENTO')
		this.genero = await this.getParameters('GENERO')
		this.getResidencia()
		this.motivo = await this.getParameters('MOTIVO_VIAJE')
		this.getPaises()

	},
	async mounted() {
		const route = this.$router.history.current.query
		this.hotelId = route.hotel

		// Get id of country = Perú
		// this.idpais = await this.getIdPeru()
		// // Get params of url
		// const route = this.$router.history.current.query
		// this.hotelId = route.hotel
		if (this.$router.history.current.query.state === 'OCUPADO') {
			const clienteReg = await this.getRegisterCliente(this.hotelId, route.reg)
			const clienteView = await this.getCliente(clienteReg)
			this.formData = {
				id: clienteView.id,
				tipo_documento: clienteView.tipo_documento,
				numero_documento: clienteView.numero_documento,
				nombre: clienteView.nombre,
				apellido: clienteView.apellido,
				edad: clienteView.edad,
				genero: clienteView.genero,
				correo_electronico: clienteView.correo_electronico,
				celular: clienteView.celular,
				residencia: clienteView.residencia,
				motivo_viaje: clienteView.motivo_viaje,
				nacionalidad: clienteView.nacionalidad
			}
			const form = document.getElementById('form-one')
			const elements = form.elements
			// console.log(elements, 'elementos')
			for (let i = 0, len = elements.length; i < len; ++i) {
				elements[i].disabled = true
			}
		}
		// // Get parameters to select
		// this.motivo = await this.getParameters('MOTIVO_VIAJE')
		// this.genero = await this.getParameters('GENERO')
		// this.tipo_doc = await this.getParameters('TIPO_DOCUMENTO')
		// this.getPaises()
		// this.getResidencia()
	},
	computed: {
		...mapGetters('hotel', ['getHotel'])
	},
	methods: {
		...mapActions('customer', ['SET_CUSTOM']),
		checkKey(e) {
			if (/^[A-Za-z]+$/.test(e.key)) {
				e.preventDefault()
				e.stopPropagation()
			}
		},
		validateState(name) {
			const { $dirty, $error } = this.$v.formData[name]
			return $dirty ? !$error : null
		},
		beforeTabSwitch: function() {
			const state = this.$router.history.current.query.state
			if (state === 'OCUPADO') {
				return true
			} else {
				this.$v.formData.$touch()
				if (this.$v.formData.$invalid) {
					return false
				}
				// return true

				this.saveForm(this.formData)
				return true
			}
		},
		async getRegisterCliente(hotel,record) {
			const result = await this.$axios({
				method: 'get',
				url: `https://apirenti.com/v1/api/hotels/${hotel}/records/${record}`,
				headers: {
					accept: 'application/json',
					'Content-Type': 'application/json'
				}
			})
			return result.data.cliente
		},
		async getCliente(idCliente) {
			const result = await this.$axios({
				method: 'get',
				url: `https://apirenti.com/v1/api/hotels/${this.hotelId}/customers/${idCliente}`,
				headers: {
					accept: 'application/json',
					'Content-Type': 'application/json'
				}
			})
			return result.data
		},
		async getIdPeru() {
			const result = await this.$axios({
				method: 'get',
				url: 'https://apirenti.com/v1/api/paises?nombre=perú',
				headers: {
					accept: 'application/json',
					'Content-Type': 'application/json'
				}
			})
			return result.data
		},
		async getParameters(group) {
			const result = await this.$axios({
				method: 'get',
				url: `https://apirenti.com/v1/api/parameters?group=${group}`,
				headers: {
					accept: 'application/json',
					'Content-Type': 'application/json'
				}
			})
			return result.data
		},
		async getPaises() {
			const result = await this.$axios({
				method: 'get',
				url: 'https://apirenti.com/v1/api/paises',
				headers: {
					accept: 'application/json',
					'Content-Type': 'application/json'
				}
			})
			this.pais = result.data
		},
		async getResidencia() {
			const result = await this.$axios({
				method: 'get',
				url: `https://apirenti.com/v1/api/paises/${this.idpais.id}/departmentos`,
				headers: {
					accept: 'application/json',
					'Content-Type': 'application/json'
				}
			})
			this.residencia = result.data
		},
		async searchCustomer(tipo, documento) {
			this.$v.formData.tipo_documento.$touch()
			this.$v.formData.numero_documento.$touch()
			if (
				this.$v.formData.tipo_documento.$invalid ||
				this.$v.formData.numero_documento.$invalid
			) {
				return false
			}
			const data = JSON.stringify({
				tipo_documento: tipo,
				numero_documento: documento
			})
			const result = await this.$axios({
				method: 'post',
				url: `https://apirenti.com/v1/api/hotels/${this.hotelId}/search-customers`,
				headers: {
					accept: 'application/json',
					'Content-Type': 'application/json'
				},
				data: data
			})
			if (result.data.length === 0) {
				this.formData = {
					id: null,
					tipo_documento: this.formData.tipo_documento,
					numero_documento: this.formData.numero_documento,
					nombre: '',
					apellido: '',
					edad: '',
					genero: '',
					correo_electronico: '',
					celular: '',
					residencia: '0',
					motivo_viaje: '0',
					nacionalidad: '0'
				}
				this.SET_CUSTOM('')
				this.cliente = ''
				this.$bvModal.show('bv-modal-example')
			} else {
				this.cliente = result.data[0]
				this.formData = {
					id: result.data[0].id,
					tipo_documento: result.data[0].tipo_documento,
					numero_documento: result.data[0].numero_documento,
					nombre: result.data[0].nombre,
					apellido: result.data[0].apellido,
					edad: result.data[0].edad,
					genero: result.data[0].genero,
					correo_electronico: result.data[0].correo_electronico,
					celular: result.data[0].celular,
					residencia: result.data[0].residencia,
					motivo_viaje: result.data[0].motivo_viaje,
					nacionalidad: result.data[0].nacionalidad
				}
			}
		},
		async saveForm(form) {
			// if (this.cliente !== '') {
			// 	alert('put')
			// 	const result = await this.$axios({
			// 		method: 'put',
			// 		url: `https://apirenti.com/v1/api/hotels/${this.hotelId}/customers/${this.cliente.id}`,
			// 		headers: {
			// 			accept: 'application/json',
			// 			'Content-Type': 'application/json'
			// 		},
			// 		data: JSON.stringify(form)
			// 	})
			// 	this.SET_CUSTOM(result.data)
			// } else {
			const result = await this.$axios({
				method: 'post',
				url: `https://apirenti.com/v1/api/hotels/${this.hotelId}/customers`,
				headers: {
					accept: 'application/json',
					'Content-Type': 'application/json'
				},
				data: JSON.stringify(form)
			})
			this.cliente = result.data
			this.SET_CUSTOM(this.cliente)
			// }

			// this.$emit('saveForm', form)
		}
	}
}
</script>

<style lang="stylus"></style>

<style lang="stylus" scoped>
.app
	margin 0% 7%
.card
	box-shadow 0px 2px 5px #888888
	height 100%
	width 100%
	&__body
		padding 3% 4%
.searchDoc
	display flex
	flex-direction column
.infoClient
	flex-direction column
.font-label
	font-size 12px
	font-weight bold
h3
	font-size 17px
	font-weight bold
	color #7b2bde
hr
	margin-top 0
	margin-bottom 4px
.width-input
	width 90%
.form-control
	border none
	border-bottom 1px solid #919090
	border-radius 0
	font-size 12px
.justify-cont
	justify-content space-between
	align-items baseline
	margin-top 2%
.margin-r5
	margin-right 5%
.h3-icon
	align-items baseline
	margin-top 2%
i
	margin-right 1%
.baseline
	align-items baseline
.button-search
	background-color #7B2DED
	border 1px solid #7B2DED
.custom-select
	background-color #F9F9F9
.margin6
	margin-bottom 3%
.divGenre
	width 100%
	justify-content space-around
.inputEmail
	width 50%
.btn_modal
	width 30%
	background-color #7b2deb
	border-color #7b2deb
.modal_style
	display flex
	flex-direction column
	align-items center
.correo
	width 80%

.selectTipo
	width 100%
select
	font-size 12px
.width-middle
	width 50%
	justify-content space-between
	margin-right 3%
.w30
	width 100%
.secondForm
	.form-control
		border none
		border-bottom 1px solid #919090
		border-radius 0
		font-size 12px
		// width 60%
	.margin4
		margin 2% 0%
	.div-vuelidate
		width 63%
	.width-calendar
		// width 62%
		align-items flex-end
		justify-content space-between
.b-form-datepicker.form-control > label
	font-size 12px
.timePicker
	width 30%
	margin-left 10%
.dateStyle
	width 82%
	.form-control:nth-child(1)
		font-size 12px
		width 57%
	.form-control:nth-child(2)
		font-size 12px
		width 20%

@media screen and (min-width: 764px)
	.searchDoc
		flex-direction row
		align-items flex-end
	.infoClient
		flex-direction row
	.w30
		width 30%
</style>
