<template lang="pug">
	tab-content( title="Registro de habitación" icon="fa fa-bed" :before-change="beforeTabSwitch")
		b-card
			b-form.secondForm#form-second
				div.width-calendar(class="d-flex mb-3 mr-sm-2")
					label.font-label(class="") Fecha de ingreso:
					div.dateStyle(class="d-flex")
						b-form-datepicker(size="sm" local="es" :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }" v-model="$v.formData1.fecha_ingreso.$model" :state="validate('fecha_ingreso')" placeholder="Fecha de ingreso")
						b-form-input.timePicker(type="time" v-model="formData1.hora_ingreso")
					b-form-invalid-feedback Campo requerido
				div.width-calendar(class="d-flex mb-3 mr-sm-2")
					label.font-label(class="") Fecha de salida:
					div.dateStyle(class="d-flex")
						b-form-datepicker(size="sm" local="es" :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }" v-model="$v.formData1.fecha_salida.$model" :state="validate('fecha_salida')" placeholder="Fecha de salida")
						b-form-input.timePicker(type="time" v-model="formData1.hora_salida")
					b-form-invalid-feedback Campo requerido

				div.justify-cont(class="d-flex")
					div.width-middle(class="d-flex")
						label.font-label(class="") Tipo de pago:
						div.div-vuelidate
							b-form-select(class="mb-2 mr-sm-2 mb-sm-0" v-model="$v.formData1.tipo_pago.$model" :state="validate('tipo_pago')")
								b-form-select-option(value="" disabled) Tipo de pago
								b-form-select-option(v-for="pay in pago" :key="pay.id" :value="pay.nombre") {{ pay.nombre }}
							b-form-invalid-feedback Campo requerido
					div.width-middle(class="d-flex")
						label.font-label(class="") Adelanto:
						div.div-vuelidate
							b-form-input(v-model="formData1.adelanto" placeholder="Adelanto")
							b-form-invalid-feedback Campo requerido

				div.justify-cont(class="d-flex")
					label.font-label(class="") Numero de habitaciones:
					b-form-select(class="mb-2 mr-sm-2 mb-sm-0" v-model="habNum" @change="addRooms(habNum)")
						b-form-select-option(value="" disabled) Elija la cantidad
						b-form-select-option(v-for="a in 10" :value="a" :key="a") {{a}}
							//- b-form-invalid-feedback Campo requerido
				div
					//- p {{habNum}}
					b-tabs(v-model="tabIndex" v-if="habNum>0" card)
						b-tab(v-for="(h, index) in arrayRooms" :title="`Hab ${index+1}`")
							form#form-room
								div.justify-cont.width-middle(class="d-flex align-items-end")
									label.font-label(class="mr-sm-2") Habitación:
									div

										b-form-select.select-hab(class="mb-2 mr-sm-2 mb-sm-0" v-model="h.habitacion" :state="validate('tipo_hab')" @change="getTiempo(h.habitacion)")
											b-form-select-option(value="0" disabled) Tipo de habitación
											b-form-select-option(v-for="h in hab" :value="h.id") {{h.numero_habitacion}}

										//- b-form-invalid-feedback Campo requerido
								div.justify-cont(class="d-flex")
									div.width-middle(class="d-flex")
										label.font-label(class="") Tiempo:
										div.div-vuelidate
											b-form-select(class="mb-2 mr-sm-2 mb-sm-0" v-model="h.tiempo" :state="validate('tiempo')" @change="tarifa(tiempo,h, index)")
												b-form-select-option(value="" disabled) Tiempo
												b-form-select-option(v-for="time in tiempo" :value="time.id" :key="time.id") {{ time.codigo }}
											b-form-invalid-feedback Campo requerido
									div.width-middle(class="d-flex")
										label.font-label(class="") Tarifa:
										div.div-vuelidate
											//- p(v-if="tiempo.length>0") {{tiempo[0].precio}}
											b-form-input(v-model="h.precio" :state="validate('tarifa')" placeholder="Tarifa")
								//- 			b-form-invalid-feedback Campo requerido
								//- Adicional.margin4(@sendTable="updateAditional" :request="idResult" :dataFin="dataSend" :sendTotalF="totalFinal")
								div.justify-cont(class="d-flex")
									div.width-middle(class="d-flex")
										label.font-label(class="") Adultos:
										div.div-vuelidate
											b-form-select(class="mb-2 mr-sm-2 mb-sm-0" v-model="h.cantidad_adulto" :state="validate('adultos')")
												b-form-select-option(value="" disabled) Adultos
												b-form-select-option(v-for="a in 10" :value="a" :key="a") {{a}}
											b-form-invalid-feedback Campo requerido
									div.width-middle(class="d-flex")
										label.font-label(class="") Niños:
										div.div-vuelidate
											b-form-select(class="mb-2 mr-sm-2 mb-sm-0" v-model="h.cantidad_nino" :state="validate('child')")
												b-form-select-option(value="" disabled) Niños
												b-form-select-option(v-for="a in 10" :value="a" :key="a") {{a}}
											b-form-invalid-feedback Campo requerido

				p SubTotal: {{ dataSend.precio_total }}
				Adicional.margin4(@sendTable="updateAditional" :request="idResult" :dataFin="dataSend" :sendTotalF="totalFinal" :numRooms="habNum" :rooms="recordRooms")
				p(v-if="sumTotal>0") Total S/. {{ sumTotal }}


</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Adicional from './adicional-form'
import { validationMixin } from 'vuelidate'
import { required, numeric, helpers, email } from 'vuelidate/lib/validators'

export default {
	middleware: 'auth',
	mixins: [validationMixin],
	components: {
		Adicional
	},
	data() {
		return {
			recordRooms: [],
			arrayRooms: [],
			propertyRooms: {
				habitacion: 0,
				estado_habitacion: 'OCUPADO',
				fecha_ingreso: null,
				fecha_salida: null,
				codigo: null,
				cantidad_adulto: 0,
				cantidad_nino: 0,
				tiempo: 0,
				precio: 0,
				precio_total: 0
			},
			tabIndex: 0,
			habNum: 0,
			subTotal: '',
			value: '',
			hotelId: '',
			total: '',
			idResult: '',
			hab: '',
			motivo: [],
			residencia: [],
			pais: [],
			cliente: '',
			aditional: [],
			tiempo: [],
			tiempoEscogido: {},
			idRegistro: '',
			pago: [],
			formData1: {
				tipo_hab: '0',
				fecha_ingreso: '',
				hora_ingreso: '',
				fecha_salida: '',
				hora_salida: '',
				tiempo: '',
				tarifa: '',
				adultos: '',
				child: '',
				tipo_pago: '',
				adelanto: ''
			}
		}
	},
	validations: {
		formData1: {
			tipo_hab: { required },
			fecha_ingreso: { required },
			fecha_salida: { required },
			tiempo: { required },
			tarifa: { required },
			adultos: { required },
			child: { required },
			tipo_pago: { required }
		}
	},

	computed: {
		...mapGetters('customer', ['getCustom']),
		...mapGetters('adicionales', ['getAdicional']),
		...mapGetters('registro', ['getRegister']),
		days() {
			const oneDay = 24 * 60 * 60 * 1000
			const firstDate = new Date(this.formData1.fecha_ingreso)
			const secondDate = new Date(this.formData1.fecha_salida)
			return Math.round(Math.abs((firstDate - secondDate) / oneDay))
		},
		// subTotal() {
		// 	if (this.subTotal !== '') {
		// 		return this.subTotal
		// 	} else {
		// 		console.log( this.dataSend, 'data send')
		// 		return this.days * this.dataSend.precio_total
		// 	}
		// },
		sumTotal() {
			return this.dataSend.precio_total + this.getAdicional
		},
		dataSend() {
			this.arrayRooms.forEach(el => {
				el.fecha_ingreso = `${this.formData1.fecha_ingreso} ${this.formData1.hora_ingreso}`
				el.fecha_salida = `${this.formData1.fecha_salida} ${this.formData1.hora_salida}`
				el.codigo = `${this.formData1.tipo_hab}_${this.formData1.fecha_ingreso}`
				el.precio_total = this.days * el.precio
			})
			const dataFin = {
				reserva: null,
				cliente: this.getCustom.id,
				estado_registro: 'REGISTRADO',
				tipo_pago: 'CONTADO',
				adelanto: this.formData1.adelanto,
				precio_total: this.arrayRooms.reduce((total, item) => {
					return total + item.precio_total
				}, 0),
				registros_habitacion: null
			}
			dataFin.registros_habitacion = this.arrayRooms
			// this.SET_CUSTOM(dataFin)
			return dataFin
		}
	},
	async created() {
		this.getRooms()
		this.pago = await this.getParameters('TIPO_PAGO')
	},
	async mounted() {
		const route = this.$router.history.current.query
		if (route.state === 'OCUPADO') {
			const respReg = await this.getRegisterRoom(route.reg)
			this.subTotal = respReg.registros_habitacion[0].precio_total
			this.habNum = respReg.registros_habitacion.length
			this.arrayRooms = respReg.registros_habitacion
			this.recordRooms = respReg.registros_habitacion.map(el => el.id)
			this.formData1 = {
				tipo_hab: respReg.registros_habitacion[0].habitacion,
				fecha_ingreso: this.parseDate(
					respReg.registros_habitacion[0].fecha_ingreso
				)[0],
				hora_ingreso: this.parseDate(
					respReg.registros_habitacion[0].fecha_ingreso
				)[1],
				fecha_salida: this.parseDate(
					respReg.registros_habitacion[0].fecha_salida
				)[0],
				hora_salida: this.parseDate(
					respReg.registros_habitacion[0].fecha_salida
				)[1],
				tiempo: respReg.registros_habitacion[0].tiempo,
				adultos: respReg.registros_habitacion[0].cantidad_adulto,
				child: respReg.registros_habitacion[0].cantidad_nino,
				tipo_pago: respReg.tipo_pago,
				adelanto: respReg.adelanto
			}

			const form = document.getElementById('form-second')
			const elements = form.elements
			// console.log(elements, 'elementos')
			for (let i = 0, len = elements.length; i < len; ++i) {
				elements[i].disabled = true
			}
		}

		if (route.hab === 'undefined') {
			this.formData1.tipo_hab = '0'
		} else {
			this.formData1.tipo_hab = route.hab
			this.getTiempo(route.hab)
			this.formData1.fecha_ingreso = route.date
		}
	},
	methods: {
		...mapActions('registro', ['SET_REGISTER']),
		addRooms(num) {
			for (let i = 0; i < num; i++) {
				this.arrayRooms.push({ ...this.propertyRooms })
			}
		},
		parseDate(date) {
			const arr = date.split('T')
			arr[1] = arr[1].substring(0, 8)
			return arr
		},
		totalFinal(e) {
			this.total = e
		},
		async getParameters(group) {
			const result = await this.$axios({
				method: 'get',
				url: `https://apirenti.com/v1/api/parameters?group=${group}`,
				headers: {
					accept: 'application/json',
					'Content-Type': 'application/json'
				}
			})
			return result.data
		},
		async getRegisterRoom(idRegister) {
			const result = await this.$axios({
				method: 'get',
				url: `https://apirenti.com/v1/api/hotels/1/records/${idRegister}`,
				headers: {
					accept: 'application/json',
					'Content-Type': 'application/json'
				}
			})
			return result.data
		},
		async sendFinalForm() {
			if (this.getRegister.hasOwnProperty('id')) {
				// console.log(this.getRegister)
				this.$router.replace('/first')
			} else {
				const result = await this.$axios({
					method: 'post',
					url: 'https://apirenti.com/v1/api/hotels/1/records',
					headers: {
						accept: 'application/json',
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(this.dataSend)
				})
				this.SET_REGISTER(result.data)
				this.idRegistro = result.data.id
			}
		},
		tarifa(tiempo, hab, index) {
			this.tiempoEscogido = tiempo.filter(el => el.id === hab.tiempo)
			hab.precio = this.tiempoEscogido[0].precio
			// console.log(this.tiempoEscogido, 'tiempo escogido')
			// this.$set(this.rooms, index, tmp)
		},
		updateAditional(e) {
			this.aditional = e
		},
		validateState(name) {
			const { $dirty, $error } = this.$v.formData[name]
			return $dirty ? !$error : null
		},
		validate(name) {
			const { $dirty, $error } = this.$v.formData1[name]
			return $dirty ? !$error : null
		},
		beforeTabSwitch: function() {
			if (this.$router.history.current.query.state === 'OCUPADO') {
				// alert('entreeeee ocupado')
				this.$router.replace('first')
				return true
			} else {
				this.sendFinalForm()
				// this.$router.replace('first')
				return true
			}
		},
		async getTiempo(idHab) {
			const result = await this.$axios({
				method: 'get',
				url: `https://apirenti.com/v1/api/hotels/1/types-room/${idHab}/times`,
				headers: {
					accept: 'application/json',
					'Content-Type': 'application/json'
				}
			})
			this.tiempo = result.data
			if (this.$router.history.current.query.state === 'OCUPADO') {
				this.tarifa(this.tiempo)
			}
		},
		async getRooms() {
			const result = await this.$axios({
				method: 'get',
				url: 'https://apirenti.com/v1/api/hotels/1/rooms',
				headers: {
					accept: 'application/json',
					'Content-Type': 'application/json'
				}
			})
			// console.log(result, 'result select')
			this.hab = result.data
		}
	}
}
</script>

<style lang="stylus">
// .vue-form-wizard .wizard-header
// 	display none !important
// 	padding 0 !important
// .wizard-progress-bar
// 	width 100%
// .vue-form-wizard
// 	padding 0
// .vue-form-wizard .wizard-tab-content
// 	min-height 100px
// 	padding 14px 20px 10px
</style>

<style lang="stylus" scoped>
.app
	margin 0% 7%
.card
	box-shadow 0px 2px 5px #888888
	// width 700px
	&__body
		padding 3% 4%
.font-label
	font-size 12px
	font-weight bold
h3
	font-size 17px
	font-weight bold
	color #7b2bde
hr
	margin-top 0
	margin-bottom 4px
.width-input
	width 90%
.form-control
	border none
	border-bottom 1px solid #919090
	border-radius 0
	font-size 12px
.justify-cont
	justify-content space-between
	align-items baseline
	margin-top 2%
.margin-r5
	margin-right 5%
.h3-icon
	align-items baseline
	margin-top 2%
i
	margin-right 1%
.baseline
	align-items baseline
.button-search
	background-color #7B2DED
	border 1px solid #7B2DED
.custom-select
	background-color #F9F9F9
.margin6
	margin-bottom 3%
.divGenre
	width 100%
	justify-content space-around
.inputEmail
	width 50%
.btn_modal
	width 30%
	background-color #7b2deb
	border-color #7b2deb
.modal_style
	display flex
	flex-direction column
	align-items center
.correo
	width 80%

.selectTipo
	width 100%
select
	font-size 12px
.width-middle
	width 50%
	justify-content space-between
	margin-right 3%
	align-items center
.w30
	width 30%
.secondForm
	.form-control
		border none
		border-bottom 1px solid #919090
		border-radius 0
		font-size 12px
		// width 60%
	.margin4
		margin 2% 0%
	.div-vuelidate
		width 63%
	.width-calendar
		// width 62%
		align-items flex-end
		justify-content space-between
.b-form-datepicker.form-control > label
	font-size 12px
.timePicker
	width 30%
	margin-left 10%
.dateStyle
	width 82%
	.form-control:nth-child(1)
		font-size 12px
		width 57%
	.form-control:nth-child(2)
		font-size 12px
		width 20%
</style>
